---
layout: default
---

<div class="posts">

	<blockquote class="embedly-card">
		<h4>
			<a href="https://khansaadbinhasan.github.io/Understanding-Quantum-Computers/">Understanding Quantum Computers</a>
		</h4>

	   	<p>The hunger for computation power is growing every day as we seek to explore uncharted domains and to increase the sphere of human influence from subatomic particles to distant planets. Quantum Computers may be the answer to some of these needs.</p>

	</blockquote>

	<br><br>


	<div class="iframely-embed">
		<div class="iframely-responsive" style="padding-bottom: 52.5%; padding-top: 120px;">
			<a href="https://khansaadbinhasan.blogspot.com/2020/05/parallel-programming-multiprocessing-in.html" data-iframely-url="//cdn.iframe.ly/YRFanEq"></a>
		</div>
	</div>

	<br><br>

	<div class="iframely-embed">
		<div class="iframely-responsive" style="padding-bottom: 75%; padding-top: 120px;">
			<a href="https://towardsdatascience.com/what-why-and-how-of-ros-b2f5ea8be0f3" data-iframely-url="//cdn.iframe.ly/3405994"></a>
		</div>
	</div>

	<br><br>

	<div class="iframely-embed">
		<div class="iframely-responsive" style="padding-bottom: 40%; padding-top: 120px;">
		<a href="https://towardsdatascience.com/stock-prediction-using-twitter-e432b35e14bd" data-iframely-url="//cdn.iframe.ly/Re9WZZW"></a>
		</div>
	</div>

	<br><br>

	<div class="iframely-embed">
		<div class="iframely-responsive" style="padding-bottom: 61.7241%; padding-top: 120px;">
			<a href="https://towardsdatascience.com/super-computing-168be247335b" data-iframely-url="//cdn.iframe.ly/oZ0xlGQ"></a>
		</div>
	</div>

	<div class="iframely-embed">
		<div class="iframely-responsive" style="padding-bottom: 56.25%; padding-top: 120px;">
			<a href="https://towardsdatascience.com/diving-into-automated-api-tests-e08510c72e7" data-iframely-url="//cdn.iframe.ly/z8Laz2T"></a>
		</div>
	</div>


<!-- 	<blockquote class="embedly-card">
		<h4>
			<a href="https://khansaadbinhasan.blogspot.com/2020/05/parallel-programming-multiprocessing-in.html">Parallel Programming: MultiProcessing in Python</a>
		</h4>

		<p>Most of the breakthroughs in modern science have been linked with the increase in processing capacity especially massively parallel systems. In this blog we will dive into the working of algorithms that are used to achieve this.</p>

	</blockquote>
 -->

<!-- 	<blockquote class="embedly-card">
		<h4>
			<a href="https://towardsdatascience.com/what-why-and-how-of-ros-b2f5ea8be0f3">What, Why and How of ROS</a>
		</h4>

		<p>Humans have always been fascinated by Robots, Be it the pooping duck, Leonardo’s Mechanical Lion or the Turk. We have always tried to build things that resembles us or natural beings around us.</p>

	</blockquote> -->

<!-- Removed since it was not very quality blog. Only keep best quality blog here -->
<!-- 
	<blockquote class="embedly-card">
		<h4>
			<a href="https://towardsdatascience.com/super-computing-168be247335b">Super Computing</a>
		</h4>

		<p>The need for more and more powerful computers is growing every day, as our civilization progresses. The technology and science are progressing faster. This has been made possible by increasing computation power. And Supercomputers are as powerful as computers get.</p>

	</blockquote>	

 -->
<!-- 
	<blockquote class="embedly-card">
		<h4>
			<a href="https://khansaadbinhasan.github.io/Understanding-Quantum-Computers/">Understanding Quantum Computers</a>
		</h4>

	   	<p>The hunger for computation power is growing every day as we seek to explore uncharted domains and to increase the sphere of human influence from subatomic particles to distant planets. Quantum Computers may be the answer to some of these needs.</p>

	</blockquote> -->


<!-- 	<blockquote class="embedly-card">
		<h4>
			<a href="https://towardsdatascience.com/stock-prediction-using-twitter-e432b35e14bd">Stock Prediction Using Twitter</a>
		</h4>

		<p>Many economist have argued that the stock market is random because it is governed by random events, this is suggested in Efficient Market Hypothesis and Random Walk Theory. But is it really?</p>

	</blockquote>
 -->




	<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
	<script async src="//cdn.iframe.ly/embed.js" charset="utf-8"></script>


	  {% if site.google_analytics and jekyll.environment == 'production' %}
		{% include analytics.html %}
	  {% endif %}

</div>